.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
  pointer-events: none;
 
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
  text-align: center;
}

.slide-title {
  text-align: center;
  margin-top: 2.8rem;
}
